#clientServer {
	width: 40%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	float: left;
}
	
#startStopAndReset {
	padding: auto;
	margin: 250px 60px 0px 35px;
	text-align:center;
	position:relative;
	float: left;
}
	
#peer2peer {
	clear: both;
	width: 40%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	float: left;
}

#CS_Canvas {
	margin: 75px 0px 0px 0px;
}

:root{
	--textColor: #007aff;
	--buttonColor: #5F9EA0;
}

body {
	font-family: "Arial";
	font-size: 90%;
	position:relative;
}

h1 {
	font-size: 2.7em;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 10px 0px;
	color: var(--textColor);
}

h2 {
	font-size: 2.4em;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 10px 0px;
	color: var(--textColor);
}

h3 {
	color: var(--textColor);
}

canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

select {
	margin: 5px;
	background: transparent;
	padding: 5px 10px 5px 5px;
  	font-size: 12px;
  	border: 1px solid #ccc;
  	border-radius: 3px;
  	cursor: pointer;
}

button {
	background-color: var(--buttonColor);
	border: none;
	color: white;
	text-align: center;
	padding: 7px 7px 7px 7px;
	font-size: 15px;
	border: 2px solid #ccc;
	border-radius: 5px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.centerButtons {
	position:relative;
	margin:8px auto;
}

button:hover {
    background-color: white;
    color: var(--buttonColor);
}

.modal {
	display: none;
	position: fixed;
	top: 40%;
	left: 40%;
	width: 600px;
	height: 400px;
	margin-left: -200px;
	margin-top: -150px;
	background-color: #ffffff;
	padding: 25px;
	border-radius: 5px;
	z-index: 1;	
	box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}

.close {
	position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
}
